<AuthorizeView>
    <Authorized>
        <div class="top-row ps-3 navbar navbar-dark navbar-avatar">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="nav-item px-5">
                        <LegalOfficeWeb_Server.Pages.Account.UserProfile></LegalOfficeWeb_Server.Pages.Account.UserProfile>
                    </div>
                </div>
            </div>
        </div>

        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="navbar navbar-expand-lg navbar-absolute ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/dashboard/index">
                                <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/cases/list">
                                <span class="oi oi-graph" aria-hidden="true"></span> ReclaimLosses
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/administrativeProcess/index">
                                <span class="oi oi-project" aria-hidden="true"></span> AdministrativeProcess
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/charges/index">
                                <span class="oi oi-briefcase" aria-hidden="true"></span> Charges
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/reports/index">
                                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Reports
                            </NavLink>
                        </div>
                        <div class="nav-item px-3 mt-auto ">
                            <NavLink class="nav-link button logout__submit" href="/logout">
                                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                            </NavLink>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </Authorized>
</AuthorizeView>
@code {

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
