@page "/Users"
@using LegalOfficeWeb_Models
@inject IUsersRepository ObjUserService

<NavLink class="nav-link" href="addUser">
    <span class="oi oi-plus" aria-hidden="true"></span> Add New
</NavLink>

@if (objCtmr == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Id</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var temp in objCtmr)
            {
                <tr>
                    <td>@temp.UserId</td>
                    <td>@temp.UserName</td>
                    <td>@temp.FullName</td>
                    <td>@temp.Email</td>
                    <td>
                        <a class="nav-link" href="EditUser/@temp.UserName">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                        </a>
                        <a class="nav-link" href="DeleteUser/@temp.UserName">
                            <span class="oi oi-trash" aria-hidden="true"></span> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    List<UserDTO> objCtmr;
    [Inject]
    public IUsersRepository objCS { get; set; }
    protected override async Task OnInitializedAsync()
    {

        objCtmr = await Task.Run(() => GetUsers());
    }
    public List<UserDTO> GetUsers()
    {
        List<UserDTO> Users = ObjUserService.GetAllUsers().ToList();
        return Users;
    }

}