@page "/reclaimlosses/RLCreateCase"
@using LegalOfficeWeb_Business.Service.IService
@using LegalOfficeWeb_Common.Helpers
@using LegalOfficeWeb_Models
@using System.Web
<h3>RLCreateCase</h3>

<div class="container">
    <div class="screen">
        <div class="screen__content">
               @if (CaseRequest != null)
            {
                @* <img class="col-lg-4 col-sm-4 mx-6" src="/logo.png" alt="logo">*@
                <form @onsubmit="CreateCase">
                    @if (ShowSignInErrors)
                    {
                        <p class="text-center text-danger">@Errors</p>
                    }

                <button type="submit" class="button login__submit">
                    <span class="button__text">Log In</span>
                    <i class="button__icon fa fa-chevron-right"></i>
                </button>

            </form>
            }
        </div>
    </div>
</div>
@code {
    private ReclaimLossesCaseDTO CaseRequest = new ReclaimLossesCaseDTO();
    public bool ShowSignInErrors { get; set; }
    public string Errors { get; set; }
   
    [Inject]
    public IReclaimLossesService _reclaimLosses { get; set; }

    private async Task CreateCase()
    {
        ShowSignInErrors = false;
        
        CaseRequest.UserId =2;
        CaseRequest.CaseId =5;
        CaseRequest.CaseNr ="5";
        CaseRequest.AgencyId ="1";
        CaseRequest.EldebitorId =66;
        CaseRequest.AMeterId =66;
        CaseRequest.Subdistrict ="7";
        CaseRequest.CustomerName ="33333";
        CaseRequest.IdentityNr ="33333";
        CaseRequest.PhoneNr ="33333";
        CaseRequest.Address ="33333";
        CaseRequest.TariffId ="33333";
        CaseRequest.Municipality ="33333";
        CaseRequest.BirthDate ="2022-06-05 13:23:44";
        CaseRequest.DepartmentId =1;
        CaseRequest.StatusId =1;
        CaseRequest.CreatedDate ="2022-06-05 13:23:44";
        CaseRequest.MainResponsibleUserId =2;
        CaseRequest.SecondResponsibleUserId =2;
        CaseRequest.SourceApp ="TS";
        CaseRequest.SourceId =1;
        CaseRequest.SourceDate ="2022-06-05 13:23:44";
        CaseRequest.CreatedComment ="2022-06-05 13:23:44";
        CaseRequest.ProcessType =1;


        var result = await _reclaimLosses.CUDRLCase(CaseRequest);
        if (result.CaseId!=null)
        {
            //Test
             //pass
            Errors = "Done";
            ShowSignInErrors = true;
            
        }
        else
        {
            //failure
            Errors = "FailCreating";
            ShowSignInErrors = true;

        }
    }

    
}
