@page "/cases/list"

<h3>CaseList</h3>

<table border=1>
				<thead>
					<tr>
						<th>userId</th>
						<th>caseId</th>
						<th>caseNr</th>
						<th>agencyId</th>
						<th>eldebitorId</th>
						<th>aMeterId</th>
						<th>subdistrict</th>
						<th>customerName</th>
						<th>identityNr</th>
						<th>phoneNr</th>
						<th>address</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>6</td>
						<td>1</td>
						<td>1</td>
						<td>DPR</td>
						<td>90041173</td>
						<td>34231114</td>
						<td>Prishtina - Jug</td>
						<td>Nazmi  Aliu</td>
						<td>100</td>
						<td></td>
						<td>Slivovë - Mukatp.n.</td>
					</tr>
				</tbody>
			</table>

@code {

}
